.managermenuList {
    display: flex; /* Display ManagerMenu items in a row */
    overflow-x: auto; 
    width: 100%; 
    padding: 10px; 
}

.managermenu-item {
    flex: 0 0 auto; /* Let items grow and shrink */
    margin-right: 10px; 
}

.managermenu-item:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

