.restaurant-container {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 16px;
    padding-bottom: 120px;
    width: 260px;
    transition: transform 0.5s ease; /* Add a smooth transition effect */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.restaurant-container:hover {
    transform: scale(1.1); /* Increase size by 10% on hover */
}

.restaurant-container h3 {
    font-family: Helvetica;
    font-weight: 400;
}

.order-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    border-color: #dc894a;
    color: #dc894a;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.order-button:hover {
    background-color: #dc894a;
    border-color: #dc894a;
    color: white;
}

.restaurant-image {
    align-items: center;
    height: 140px;
    width: auto;
    margin: 8px
    
}

.modal {
    position: fixed; /* Fix the modal's position */
    top: 50%; /* Center the modal vertically */
    left: 50%; /* Center the modal horizontally */
    transform: translate(-50%, -55%); /* Center the modal perfectly */
    overflow-y: hidden; /* Enable vertical scrolling for the modal content */
    max-height: 800px; /* Adjust the max height of the modal */
  }

.modal-dialog {
    max-width: 700px;
    margin: 80px auto;
}

.menu-items {
    height: 520px; /* Adjust the height of the div */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}
 