.navbar {
  width: 100%;
  background-color: transparent; /* Make the navbar transparent */
  color: #ebebf1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make the navbar fixed */
  top: 0;
  z-index: 10;
  font-weight: bold;
  
}
.cart-page {
  background-color: #0b161a; /* Change the background color */
}
.navbar.scrolled {
  background-color: #0b161a; /* Change background color when scrolled */
}

.navbar {
  transition: background-color 0.3s ease;
  gap: 20px;
}

  .navbar h1 {
    font-size: 24px; /* Adjust the font size */
    font-family: 'roboto';
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    

  }

  .navbar button {
    background-color: #dc894a; /* Transparent background for the button */
    color: white; /* Text color for the button */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor to pointer */
    font-size: 16px; /* Adjust font size */
    width: 80px;
    height: 36px;
    gap: 20px;
  }

  .navbar button:hover {
    background-color: #b56e36; /* Adjust the color as needed */
  }

  .home-btn {
    color: white; /* Text color for the button */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor to pointer */
    font-size: 16px; /* Adjust font size */
    width: 80px;
    height: 36px;
    padding-left: 10px;
  }

  .home-btn:hover{
    color: #dc894a;
    font-weight: bold;
  }

  .home-btn:active,
  .home-btn:focus{
    color: #dc894a;
    font-weight: bold;
  }

.search-bar-container {
    flex: 1; /* Take up remaining space */
    display: flex; /* Use flexbox */
    justify-content: center; /* Align items horizontally in the center */
    align-items: center; /* Align items vertically in the center */
}

.customer-select-container{
  color: white; /* Text color for the button */
  border: none; /* Remove border */
  cursor: pointer; /* Set cursor to pointer */
  font-size: 16px; /* Adjust font size */
  width: 80px;
  height: 36px;
  padding-left: 20px;
}

.manager-select-container{
  color: white; /* Text color for the button */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor to pointer */
    font-size: 16px; /* Adjust font size */
    width: 80px;
    height: 36px;
    padding-left: 20px;
    z-index: 1000;
}

.manager-select-container:hover{
  color: #dc894a;
  font-weight: bold;
}

.theAnchors{
  display: flex;
  gap: 15px;
  margin-right: 40px; /* Move the entire group of anchors to the left */
}


.menu-btn,
.orders-btn,
.analytics-btn {
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 80px;
  height: 36px;
  padding-left: 20px; /* Adjust padding as needed */
}

.menu-btn:hover,
.orders-btn:hover,
.analytics-btn:hover {
  color: #dc894a; /* Change color on hover */
  font-weight: bold; /* Add bold font on hover */
}
