.cart-overview {
  text-align: center;
  font-family: "Karla", serif;
  font-weight: bolder;
  /* display: 'flex';
  align-items: 'center';
  justify-content: 'space-between'; */
}

.cart-overview h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Karla", serif;
  font-weight: bolder;
}

.cart-overview h2::before,
.cart-overview h2::after {
  content: '';
  position: absolute;
  top: 45%; /* Adjust the position of the lines */
  width: 50px;
  height: 2px;
  background-color: #000000;
  font-family: "Karla", serif;
}

.cart-overview h2::before {
  left: -60px; /* Adjust the distance of the left line */
  transform: translateY(-50%);
  font-family: "Karla", serif;
}

.cart-overview h2::after {
  right: -60px; /* Adjust the distance of the right line */
  transform: translateY(-50%);
  font-family: "Karla", serif;
}

/* Add padding to the buttons */
#see-cart {
  padding-left: 40px;
}

#see-inprogress {
  margin-right: 40px;
}

#see-completed {
  margin-right: 40px;
}
