.HomePage {
  text-align: center;
  max-height: 100vh; /* Set a maximum height equal to the viewport height */
  font-family: "Karla", serif;

  
}
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  .container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
    
   
  }

  .orange-box {
    color: white;
    /* background-color: #2929297e; */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 5;
    max-width: 90%; /* Set maximum width */
    width: 1050px; /* Set initial width */
    height: 400px;
    margin-top: -380px; /* Adjust margin-top to position higher */
    margin-left: auto;
    margin-right: auto;
    position: relative; /* Position relative to its container */
    top: 50%; /* Move down by 50% of container height */
    transform: translateY(-50%); /* Center vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    opacity: 93%;
  }

  .text {
    margin-bottom: 5px; /* Adjust spacing between text and SVG */
  }
  
  .svg-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  
  body {
    scroll-behavior: smooth;
  }

  .Restaurants {
    text-align: center;
    padding-bottom: 75px;
  }
  
  .Restaurants h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .Restaurants h2::before,
  .Restaurants h2::after {
    content: '';
    position: absolute;
    top: 45%; /* Adjust the position of the lines */
    width: 50px;
    height: 2px;
    background-color: #000000;
  }
  
  .Restaurants h2::before {
    left: -60px; /* Adjust the distance of the left line */
    transform: translateY(-50%);
  }
  
  .Restaurants h2::after {
    right: -60px; /* Adjust the distance of the right line */
    transform: translateY(-50%);
  }

  .inline-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center;
  }
  
  .inline-container h4,
  .inline-container select {
    margin: 3px; /* Remove default margins */
  }

  .custom-select {
    /* Your custom styles for the select element */
    border-radius: 5px;
    margin-bottom: 15px;
    width: 170px;
    color: #36454F;
    height: 35px;
    font-weight: bold;
  }

.home-text{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  font-family: "Spectral", sans-serif;
  letter-spacing: 2px;
;
}

  