/* Initially hide the default option */
.default-option {
    display: none;
}

/* Show the default option only when the select dropdown is not focused */
.select-for-manager:not(:focus) + .default-option {
    display: block;
}

.manager-page {
    margin-left: 10px;
    font-family: "Karla", sans-serif;

}

.addItem {
    margin-left: 10px
}


.menuTitle, .ordersTitle{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 90px;
    font-family: "Karla", sans-serif;


}

.entireOrders, .entireAnalytics{
    padding-top: 100px;
    font-family: "Karla", sans-serif;

}
.menuItemsContainer, .ordersContainer{
    border: solid;
    padding: 20px;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 3px;
   
    border-color: rgb(198, 198, 198);
    font-family: "Karla", sans-serif;

}
.Welcome {
    position: relative;
    color: white;
    width: 100%;
    text-align: center;
    height: 780px;
    font-size: 40px;
    font-family: "Spectral", serif;
    text-shadow: #000 5px 0 20px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 80%, rgba(0,0,0,0.5) 100%), url('./restaurant.jpg');
    letter-spacing: 2px;
}

.text-content {
    position: relative;
    z-index: 10; /* Ensure the text content appears on top of the background image */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5); /* Add a semi-transparent overlay */
    z-index: 1; /* Lower z-index to ensure it's behind the text content */
    filter: brightness(40%); /* Apply the filter directly to the background image */
}


.firstline{
    display: flex;
    justify-content: center;

    padding-top: 250px;
    gap: 15px;
    font-weight: bold;
    font-size: 50px;
    text-shadow: #000 5px 0 8px;
    z-index: 1;
    filter: none; /* Reset filter */
}

.thirdline{

    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
    text-shadow: #000 1px 0 9px;
    filter: none; /* Reset filter */ 
}


.ordersAnchor{
    padding-top: -200px;
}

.combo-box{
    border-radius: 5px;
    background-color: DodgerBlue;
}

/* Add padding between labels and inputs/selects */
.modal-body label {
    margin-bottom: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 110px;
    font-weight: bold;
  }
  
  /* Style inputs and selects */
  .modal-body input[type="text"],
  .modal-body input[type="url"],
  .modal-body input[type="number"],
  .modal-body select {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 130px);
  }
  
  .ordersContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
}

.buttonsContainer {
    display: flex;
    justify-content: space-between; /* Space out the buttons */
    width: 100%; /* Ensure full width */
    margin-bottom: 10px; /* Add some bottom margin */
    margin-left: 10px;
}

.orderButton {
    margin-right: 10px; /* Add margin between the buttons */
}

.seeAllButton{
    background-color: #dc894a; 
    margin-right: 20px;
}

.managerOrderListContainer {
    overflow-x: auto; /* Enable horizontal scrolling */
    width: 100%; /* Ensure full width */
}

